Limpeza dados do 156

In [1]:
#importing libraries
import pandas as pd
import requests
import re
import urllib.parse
from unidecode import unidecode

%matplotlib inline

df_ceps = pd.read_csv('ceps_curitiba.csv', sep=';')

In [382]:
# lê o arquivo CSV
df_resultado = pd.read_csv('inundacao156.csv', sep=';')

#2021
#df = pd.read_csv('Dados156Brutos/2021/2021-03-01_156.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2021/2021-02-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2021/2021-01-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))

#2020
#df = pd.read_csv('Dados156Brutos/2020/2020-12-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-11-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-10-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-09-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-08-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-07-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-06-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-05-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-04-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-03-11_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-03-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-02-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2020/2020-01-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))

#2019
#df = pd.read_csv('Dados156Brutos/2019/2019-12-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2019/2019-11-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2019/2019-10-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2019/2019-09-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2019/2019-08-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2019/2019-07-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2019/2019-06-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2019/2019-05-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2019/2019-04-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2019/2019-03-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2019/2019-02-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2019/2019-01-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))

#2018
#df = pd.read_csv('Dados156Brutos/2018/2018-12-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-11-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-10-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-09-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-08-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-07-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-06-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-05-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-04-26_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-04-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-03-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-02-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2018/2018-01-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))

#2017
#df = pd.read_csv('Dados156Brutos/2017/2017-12-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2017/2017-11-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2017/2017-10-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2017/2017-09-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2017/2017-08-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2017/2017-07-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2017/2017-06-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2017/2017-04-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2017/2017-03-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2017/2017-02-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2017/2017-01-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))

#2016
#df = pd.read_csv('Dados156Brutos/2016/2016-12-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2016/2016-11-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2016/2016-10-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))
#df = pd.read_csv('Dados156Brutos/2016/2016-09-01_156_-_Base_de_Dados.csv', error_bad_lines=False, sep=';',encoding = "latin-1",skiprows=[0,1],names=list('abcdefghijklmnopqrstuv'))

df_resultado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SOLICITACAO       0 non-null      object
 1   TIPO              0 non-null      object
 2   ORGAO             0 non-null      object
 3   DATA_ASS          0 non-null      object
 4   HORARIO           0 non-null      object
 5   ASSUNTO           0 non-null      object
 6   SUBDIVISAO        0 non-null      object
 7   DESCRICAO         0 non-null      object
 8   LOGRADOURO_ASS    0 non-null      object
 9   CEP_ASS           0 non-null      object
 10  NUMERO_ASS        0 non-null      object
 11  BAIRRO_ASS        0 non-null      object
 12  REGIONAL_ASS      0 non-null      object
 13  MEIO_RESPOSTA     0 non-null      object
 14  OBSERVACAO        0 non-null      object
 15  SEXO              0 non-null      object
 16  BAIRRO_CIDADAO    0 non-null      object
 17  REGIONAL_CIDADAO  0 non-null      object
 18  DATA_NASC         0 non-null      object
 19  TIPO_CIDADAO      0 non-null      object
 20  ORGAO_RESP        0 non-null      object
 21  RESPOSTA_FINAL    0 non-null      object
 22  GEOM              0 non-null      object
dtypes: object(23)
memory usage: 0.0+ bytes

In [383]:
# Algumas tuplas tiveram problemas na separação de colunas e acabaram tendo 2 a mais, 
# sendo assim, adicionei 2 colunas a mais 'STATUS_FINAL' e 'AGORA_VAI', unicamente
# para retirar do dataframe
df.columns = ['SOLICITACAO', 'TIPO', 'ORGAO', 'DATA', 'HORARIO', 'ASSUNTO', 'SUBDIVISAO',
 'DESCRICAO', 'LOGRADOURO_ASS', 'BAIRRO_ASS', 'REGIONAL_ASS', 'MEIO_RESPOSTA',
 'OBSERVACAO', 'SEXO', 'BAIRRO_CIDADAO', 'REGIONAL_CIDADAO', 'DATA_NASC',
 'TIPO_CIDADAO', 'ORGAO_RESP', 'RESPOSTA_FINAL', 'STATUS_FINAL', 'AGORA_VAI']

In [384]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81665 entries, 0 to 81664
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SOLICITACAO       81665 non-null  int64
 1   TIPO              81665 non-null  object
 2   ORGAO             81665 non-null  object
 3   DATA              81665 non-null  object
 4   HORARIO           81665 non-null  object
 5   ASSUNTO           81665 non-null  object
 6   SUBDIVISAO        81665 non-null  object
 7   DESCRICAO         81665 non-null  object
 8   LOGRADOURO_ASS    81665 non-null  object
 9   BAIRRO_ASS        81664 non-null  object
 10  REGIONAL_ASS      81614 non-null  object
 11  MEIO_RESPOSTA     81665 non-null  object
 12  OBSERVACAO        43619 non-null  object
 13  SEXO              81665 non-null  object
 14  BAIRRO_CIDADAO    79568 non-null  object
 15  REGIONAL_CIDADAO  77831 non-null  object
 16  DATA_NASC         81665 non-null  object
 17  TIPO_CIDADAO      81665 non-null  object
 18  ORGAO_RESP        81665 non-null  object
 19  RESPOSTA_FINAL    81665 non-null  object
 20  STATUS_FINAL      0 non-null      float64
 21  AGORA_VAI         0 non-null      float64
dtypes: float64(2), int64(1), object(19)
memory usage: 13.7+ MB

In [385]:
#pd.set_option("max_columns", None) # show all cols
#pd.set_option('max_colwidth', None) # show full width of showing cols
#pd.set_option("expand_frame_repr", False) # print cols side by side as it's supposed to be

Visto que as 2 ultimas colunas não sao listadas no dicionario de dados oficial e as anotações presentes não acrescentam com o objetivo da pesquisa irei retira-las do dataframe

In [386]:
df = df.drop(columns=['STATUS_FINAL'])
df = df.drop(columns=['AGORA_VAI'])

In [387]:
# Como estou limitado pelo seviço que coleta LatLng, irei filtrar assuntos que podem abordar o tema que inundações
filtro = ['MACRODRENAGEM','DRENAGEM','DRENAGEM - MATRIZ','FISCALIZAÇÃO DE FUNDO DE VALE (CÓRREGOS/VALAS)',
          'PONTES DE MADEIRA','CORREÇÃO GEOMÉTRICA','ÁRVORE','LIMPEZA','FONTES E CHAFARIZES',
          'ORIENTAÇÕES SANITÁRIAS PARA RESIDÊNCIAS','ARRUAMENTO']
df = df[df['ASSUNTO'].isin(filtro)]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3847 entries, 2099 to 81591
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SOLICITACAO       3847 non-null   int64
 1   TIPO              3847 non-null   object
 2   ORGAO             3847 non-null   object
 3   DATA              3847 non-null   object
 4   HORARIO           3847 non-null   object
 5   ASSUNTO           3847 non-null   object
 6   SUBDIVISAO        3847 non-null   object
 7   DESCRICAO         3847 non-null   object
 8   LOGRADOURO_ASS    3847 non-null   object
 9   BAIRRO_ASS        3847 non-null   object
 10  REGIONAL_ASS      3847 non-null   object
 11  MEIO_RESPOSTA     3847 non-null   object
 12  OBSERVACAO        1702 non-null   object
 13  SEXO              3847 non-null   object
 14  BAIRRO_CIDADAO    3845 non-null   object
 15  REGIONAL_CIDADAO  3791 non-null   object
 16  DATA_NASC         3847 non-null   object
 17  TIPO_CIDADAO      3847 non-null   object
 18  ORGAO_RESP        3847 non-null   object
 19  RESPOSTA_FINAL    3847 non-null   object
dtypes: int64(1), object(19)
memory usage: 631.1+ KB

In [388]:
#teste = df
#teste

In [389]:
for index, row in df.iterrows():
    endereco =  row['LOGRADOURO_ASS'].split(',')
    street = unidecode(endereco[0]).upper()
    
    #Procura a rua na tabela de ceps de curitiba
    achou = df_ceps['LOGRADOURO'].str.find(street)
    pos = achou.argmax()
    cep = df_ceps.loc[pos]['CEP']
    logradouro = df_ceps.loc[pos]['LOGRADOURO'].strip()
    neighborhood = df_ceps.loc[pos]['BAIRRO'].strip()
    
    ocorrencia = {
   	'SOLICITACAO': row['SOLICITACAO'],
	'TIPO': row['TIPO'],
	'ORGAO': row['ORGAO'],
	'DATA_ASS': row['DATA'].strip(),
	'HORARIO': row['HORARIO'].strip(),
	'ASSUNTO': row['ASSUNTO'],
	'SUBDIVISAO': row['SUBDIVISAO'],
	'DESCRICAO': row['DESCRICAO'],
	'LOGRADOURO_ASS': logradouro,
	'CEP_ASS': cep,
	'NUMERO_ASS': endereco[1].strip(),
	'BAIRRO_ASS': neighborhood,
	'REGIONAL_ASS': row['REGIONAL_ASS'],
	'MEIO_RESPOSTA': row['MEIO_RESPOSTA'],
	'OBSERVACAO': row['OBSERVACAO'],
	'SEXO': row['SEXO'],
	'BAIRRO_CIDADAO': row['BAIRRO_CIDADAO'],
	'REGIONAL_CIDADAO': row['REGIONAL_CIDADAO'],
	'DATA_NASC': row['DATA_NASC'].strip(),
	'TIPO_CIDADAO': row['TIPO_CIDADAO'],
	'ORGAO_RESP': row['ORGAO_RESP'],
	'RESPOSTA_FINAL': row['RESPOSTA_FINAL']
    }    
    #print(ocorrencia)
    df_resultado = df_resultado.append(ocorrencia, ignore_index=True)

In [390]:
# Atualiza o arquivo csv com os dados da ultima tabela
df_resultado.to_csv('Resultado/inundacao156.csv', sep=';', mode = 'a', header = False, index=False)

In [ ]:
# mode = 'a' will append the information. Programiz has a nice bit on this if you're interested in reading more. 
# header = False will prevent the headers from being written to your file, which would come along with a Nan value for the row.